parameters:

services:
	- Symfony\Component\Console\Application
	- App\Console\GamePlayCommand
	- App\Loader\FileLoader
	- Sabre\Xml\Service
	- App\Parser\XmlParser
	- App\Game\Input\LifeFactory
	- App\Game\Input\Validation\Validator
	- App\Game\Environment\WorldEvolution
	- App\Game\Output\WorldStateFormatter
	input: Symfony\Component\Console\Input\ArgvInput
	output: Symfony\Component\Console\Output\ConsoleOutput
	- Symfony\Component\Console\Style\SymfonyStyle(@input, @output)
	- App\Game\GameApplication
